

{% load static %}
{% load crispy_forms_tags  %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Signup</title>
      <link href="{% static '/stuprobe/css/custom.css' %}" rel="stylesheet">
   </head>
   <body>
      <nav>
         <div class="nav-logo">
            <a href="{% url 'index' %}">Stuprobe</a>
         </div>
      </nav>
      <div class="flex-card bg">
         {% if role == 'student' %}
            <div class="shadow">
               
               <b>Sign Up - Student</b>
               <form method="POST" action="">
                  {% csrf_token %}
                  {{UserForm|crispy}}
                  {{StudentForm|crispy}}
                  <button  class="btn btn-success" type="submit">SignUp</button>
               </form>
            </div>   

         {% elif role == 'teacher' %}
            <div class="shadow">
               <b>Sign Up - Teacher</b>
               <form method="POST" action="">
                  {% csrf_token %}
                  {{UserForm|crispy}}
                  {{TeacherForm|crispy}}
                  <button  class="btn btn-success" type="submit">SignUp</button>
               </form>
            </div>

         {% endif %}
         
      </div>
   </body>
</html>

